{% extends "layout.html" %}

{% block title %}
Account
{% endblock %}

{% block main %}
<div class="container col-xxl-3 px-4 py-5">
    <h1>Account details</h1>
    <form action="/account" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input autocomplete="off" autofocus class="form-control" name="name" value="{{ user.name }}" type="text"
                required>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input autocomplete="off" autofocus class="form-control" name="location" value="{{ user.location }}"
                type="text" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input autocomplete="off" autofocus class="form-control" name="username" value="{{ user.username }}"
                type="text" required disabled>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input autocomplete="off" autofocus class="form-control" name="email" value="{{ user.email }}" type="email"
                required>
        </div>
        <button class="btn btn-primary w-100" type="submit">Update</button>
    </form>
</div>
{% endblock %}